@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


.nameSocialNetwork {
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 40px;
}





.header {
  grid-area: header;
  background-color: wheat;
  display: flex;
  align-items: center;
}

.header img {
  width: 70px;
}

.loginBlock {
  margin-right: 10px;
  margin-left: auto;
}