.descriptionBlock {
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
}


.profileWallpaper {
  max-width: 100%;
  border-radius: 15px;
}

.profilePhoto {
  position: relative;
  cursor: pointer;
}

.profilePhoto img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.profilePhotoSignature {
  position: absolute;
  top: -74px;
  width: 400px;
  padding: 10px;
  margin-top: 17px;
  background: #f3f3f3;
  height: 44px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.5s ease;
  z-index: -1;
}

.profilePhoto:hover+ .profilePhotoSignature {
  z-index: 1;
  opacity: 1;
}


.nameAndStatus {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.name {
  /* margin-top: 20px; */
  font-weight: bold;
}

.descriptionItem {
  margin-top: 5px;
}

.myContacts {
  margin-top: 20px;
  margin-left: 20px;
}

.contactsItem {
  margin-top: 5px;
}