.descriptionBlock {
  padding: 10px;
  display: flex;
  align-items: center;
}

.profilePhoto img {
  width: 70px;
  height: 70px;
}

.nameAndStatus {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.name {
  /* margin-top: 20px; */
  font-weight: bold;
}

.descriptionItem {
  margin-top: 5px;
}

.myContacts {
  margin-top: 20px;
  margin-left: 20px;
}

.contactsItem {
  margin-top: 5px;
}