

.item {
  margin-bottom: 15px;
  color: black;
  display: flex;
  align-items: center;
}

.message {
  margin-left: 10px;
}

.item img {
  max-width: 60px;
  height: 60px;
  border-radius: 30px;
}


.cardHeaderUserInfo {
  display: flex;
  align-items: center;
}

.cardFooter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 24px;
}