.dialogBlock {
  height: 100%;
}

.dialogs {
  display: grid;
  grid-template-areas: 
    'dialogItems messageItems'
    'dialogItems sendMessages';

  grid-template-columns: 5fr 10fr;
  /* grid-template-rows: 1fr 60px; */
  height: 100%;
}

.dialogsItems {
  grid-area: dialogItems;
  padding: 10px;
  border-right: 3px double black;
}

/* .dialogsItems .active {
  color: gold;
} */

.messageItems {
  grid-area: messageItems;
  position: relative;
  padding-left: 20px;
  padding-top: 10px;
  height: 100%;
  box-sizing: border-box;
}
