.dialogBlock {
  height: 100%;
}

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  height: 100%;
}

.dialogsItems {
  padding: 10px;
}

/* .dialogsItems .active {
  color: gold;
} */

.messages {
  position: relative;
  padding-left: 20px;
  padding-top: 10px;
  height: 100%;
  border-left: 3px double black;
  box-sizing: border-box;
}

.sendMessages {
  position: absolute;
  bottom: 10px;
}

