
.formSubmitError {
  width: 250px;
  height: 20px;
  border: 2px solid rgb(94, 13, 13);
  color: rgb(94, 13, 13);;
}

.captchaImg {
  width: 200px;
  height: 200px;
}

.formFieldsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 150px;
  justify-content: space-around;
}